In [1]:
from os import path
import pandas as pd
import datetime

In [7]:
datafile = path.join("../data", "ltt.txt")
df_1 = pd.read_csv(datafile, sep=";", parse_dates=True)
# 
type(df_1["date"][0])

str

In [8]:
df_2 = df_1.copy()
df_2['date_hour'] = df_2.apply(lambda x : f"{x['date']}-{x['hour']}", axis=1)

df_3 = df_2.groupby("date").date_hour.agg(["min", "max"])
df_4 = df_3.copy()

df_4["min"] = pd.to_datetime(df_4["min"])
df_4["max"] = pd.to_datetime(df_4["max"])
df_4["duration"] = df_4.apply(lambda x: x["max"] - x["min"], axis=1)
df_4["duration_hour"] = df_4.apply(lambda x: f"{x['duration'].seconds/3600:.02f}", axis=1)
print(df_4["duration_hour"])

date
2023-11-14    0.01
2023-11-16    9.48
2023-11-17    8.76
2023-11-20    0.00
2023-11-21    5.15
2023-11-22    1.40
2023-11-29    0.12
2023-11-30    2.97
2023-12-04    1.80
2023-12-05    0.05
2023-12-08    0.80
2023-12-11    5.44
2023-12-12    0.10
2023-12-13    0.00
2023-12-14    7.94
2023-12-15    9.01
2023-12-18    3.80
2023-12-19    0.57
2023-12-20    0.00
2023-12-28    0.26
2023-12-29    1.89
2024-01-02    1.21
2024-01-03    1.78
2024-01-04    0.00
2024-01-05    8.53
2024-01-06    7.28
2024-01-08    1.71
2024-01-10    1.06
2024-01-11    0.84
2024-01-15    1.01
2024-01-17    5.47
2024-01-18    0.04
2024-01-22    7.23
2024-01-24    3.39
2024-01-25    0.00
2024-01-29    0.38
Name: duration_hour, dtype: object

In [4]:
delta = datetime.timedelta(

    days=0,

    seconds=27,

    microseconds=10,

    milliseconds=29000,

    minutes=5,

    hours=8,

    weeks=2

)
delta.seconds/3600

8.098888888888888